<div class="mx-auto w-[600px] flex flex-col items-center py-10">
    <h1 class="text-3xl font-medium">NG HeroIcon</h1>
    <div class="flex flex-col mt-4 items-start">
        <div class="flex flex-col space-y-7">
            <!-- Functionality Test -->
            <div class="flex flex-col space-y-3">
                <h2 class="font-medium text-base underline">Functionality Test</h2>
                <div class="flex flex-col space-y-4">
                    <!-- 1 -->
                    <div class="flex flex-col space-y-1">
                        <div class="flex items-center space-x-2">
                            <span class="font-medium text-sm">w-3 h-auto:</span>
                            <hero-icon hostDisplay="block" class="w-3 h-auto" name="eye" type="outline"></hero-icon>
                            <hero-icon hostDisplay="block" class="w-3 h-auto" name="eye" type="solid"></hero-icon>
                        </div>
                        <div class="text-indigo-300 text-xs">
                            Will only apply <span class="font-medium">w-3</span> class and nothing else, since height is
                            auto, <span class="font-medium">h-3</span> is inferred.
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="flex flex-col space-y-1">
                        <div class="flex items-center space-x-2">
                            <span class="font-medium text-sm">w-auto h-auto:</span>
                            <hero-icon hostDisplay="block" class="w-auto h-auto" name="eye" type="outline"></hero-icon>
                            <hero-icon hostDisplay="block" class="w-auto h-auto" name="eye" type="solid"></hero-icon>
                        </div>
                        <div class="text-indigo-300 text-xs">
                            Since no dimensions are given, ng-heroicon will provide a default dimensions according to
                            the
                            type of heroicon: <span class="font-medium">outline (24px, 24px)</span> or
                            <span class="font-medium">solid (20px, 20px)</span>.
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="flex flex-col space-y-1">
                        <div class="flex items-center space-x-2">
                            <span class="font-medium text-sm">w-5 hover:text-red-200 cursor-pointer:</span>
                            <hero-icon hostDisplay="block" class="w-5 hover:text-red-200 cursor-pointer" name="eye"
                                       type="outline"></hero-icon>
                            <hero-icon hostDisplay="block" class="w-5 hover:text-red-200 cursor-pointer" name="eye"
                                       type="solid"></hero-icon>
                        </div>
                        <div class="text-indigo-300 text-xs">
                            Since no dimensions are given, ng-heroicon will provide a default dimensions according to
                            the
                            type of heroicon: <span class="font-medium">outline (24px, 24px)</span> or
                            <span class="font-medium">solid (20px, 20px)</span>.
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="flex flex-col space-y-1">
                        <div class="flex items-center space-x-2">
                            <span class="font-medium text-sm">w-5 cursor-pointer:</span>
                            <hero-icon hostDisplay="block" class="w-5 cursor-pointer"
                                       (mouseenter)="onMouseEnter('outline')"
                                       (mouseleave)="onMouseLeave('outline')"
                                       [name]="outlineIcon" type="outline"></hero-icon>
                            <hero-icon hostDisplay="block" class="w-5 cursor-pointer"
                                       (mouseenter)="onMouseEnter('solid')"
                                       (mouseleave)="onMouseLeave('solid')"
                                       [name]="solidIcon"
                                       type="solid"></hero-icon>
                        </div>
                        <div class="text-indigo-300 text-xs">
                            Here we test if the icon can be switched to something else given a side-effect (hover,
                            click)
                            etc.
                            We will test if eye can be closed.
                        </div>
                    </div>
                    <!-- 5 -->
                    <div class="flex flex-col space-y-1">
                        <div class="flex items-center space-x-2">
                            <span class="font-medium text-sm">w-5 text-pink-300 hover:text-green-500 hover:w-6:</span>
                            <hero-icon hostDisplay="block" class="w-5 text-pink-300 hover:text-green-500 hover:w-6"
                                       name="eye"
                                       type="outline"></hero-icon>
                            <hero-icon hostDisplay="block" class="w-5 text-pink-300 hover:text-green-500 hover:w-6"
                                       name="eye"
                                       type="solid"></hero-icon>
                        </div>
                        <div class="text-indigo-300 text-xs">
                            Here we test if the the icon can grow it's size if hovered and if the colors can be changed
                            as
                            well.
                        </div>
                    </div>
                </div>
            </div>
            <!-- All Outline Icons -->
            <div class="flex flex-col space-y-3">
                <h2 class="font-medium text-base underline">Outline Icons</h2>
                <div class="grid grid-cols-4 gap-5">
                    <div class="flex flex-col items-center justify-start space-y-2"
                         *ngFor="let iconName of allIconsNames;">
                        <div class="text-xs text-center">{{iconName}}</div>
                        <hero-icon type="outline" class="w-5" [name]="$any(iconName)"></hero-icon>
                    </div>

                </div>
            </div>
            <!-- All Solid Icons -->
            <div class="flex flex-col space-y-3">
                <h2 class="font-medium text-base underline">Solid Icons</h2>
                <div class="grid grid-cols-4 gap-5">
                    <div class="flex flex-col items-center justify-start space-y-2"
                         *ngFor="let iconName of allIconsNames;">
                        <div class="text-xs text-center">{{iconName}}</div>
                        <hero-icon type="solid" class="w-5" [name]="$any(iconName)"></hero-icon>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

